div{
    background-color: rgb(48, 79, 138);
    border-left: 20px solid rgb(45, 46, 46);
    border-bottom-left-radius: 10px;
    margin: 20px 30px 20px;
    padding: 20px;
    box-shadow: 20px 20px 10px rgb(26, 27, 27);
}